<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Blank Page &mdash; Stisla</title>

    <%- include('../../layouts/backend/vendor_css') %>

        <%- include('../../layouts/backend/datatable_css') %>
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            <%- include('../../layouts/backend/navbar') %>

                <%- include('../../layouts/backend/sidebar') %>

                    <!-- Main Content -->
                    <div class="main-content">
                        <section class="section">
                            <div class="section-header">
                                <h1>Daftar Thread</h1>
                            </div>

                            <div class="section-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped" id="table-datatable">
                                                        <thead>
                                                            <tr>
                                                                <th>User</th>
                                                                <th>Kategori</th>
                                                                <th>Judul</th>
                                                                <th>Tanggal Posting</th>
                                                                <th>Aksi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% thread_list.forEach(function(item, index) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= item.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.category_title %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.title %>
                                                                    </td>
                                                                    <td>
                                                                        <%= item.thread_created_at %>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="btn btn-info btn-sm"><i
                                                                                class="fas fa-eye"></i> Detail</a>
                                                                        <a href="/admin/thread/delete/<%= item.id %>"
                                                                            onclick="return confirm('Anda yakin ingin menghapus thread ini?')"
                                                                            class="btn btn-danger btn-sm"><i
                                                                                class="fas fa-trash"></i> Hapus</a>
                                                                    </td>
                                                                </tr>

                                                                <% }) %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <%- include('../../layouts/backend/footer') %>

        </div>
    </div>

    <%- include('../../layouts/backend/vendor_js') %>

        <%- include('../../layouts/backend/datatable_js') %>

            <script>
                $('#table-datatable').dataTable({
                    order: [[3, 'desc']],
                });
            </script>
</body>

</html>