<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Setting &mdash; Travel Forum</title>

    <%- include('../../layouts/backend/vendor_css') %>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote.min.css"
            integrity="sha512-m52YCZLrqQpQ+k+84rmWjrrkXAUrpl3HK0IO4/naRwp58pyr7rf5PO1DbI2/aFYwyeIH/8teS9HbLxVyGqDv/A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            <%- include('../../layouts/backend/navbar') %>

                <%- include('../../layouts/backend/sidebar') %>

                    <!-- Main Content -->
                    <div class="main-content">
                        <section class="section">
                            <div class="section-header">
                                <h1>Pengaturan</h1>
                            </div>

                            <div class="section-body">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                        href="#home" role="tab" aria-controls="home"
                                                        aria-selected="true">Halaman About</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                    aria-labelledby="home-tab">
                                                    <form action="/admin/setting/save-about" method="POST">
                                                        <div class="form-group col-sm-12">
                                                            <textarea type="text" class="form-control"
                                                                name="setting_value" required
                                                                id="summernote"><%- about_result.setting_value %></textarea>
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <button type="submit"
                                                                class="btn btn-primary">Simpan</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <%- include('../../layouts/backend/footer') %>

        </div>
    </div>

    <%- include('../../layouts/backend/vendor_js') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote.min.js"
            integrity="sha512-6rE6Bx6fCBpRXG/FWpQmvguMWDLWMQjPycXMr35Zx/HRD9nwySZswkkLksgyQcvrpYMx0FELLJVBvWFtubZhDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    height: 500
                });
            });
        </script>
</body>

</html>