<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=anv, initial-scale=1.0" />
    <title>
        Guide Tour
    </title>

    <%- include('../layouts/vendor_css') %>

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
            integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
            integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
        <style>
            nav {
                background: rgb(33, 33, 33);
                width: 100%;
                padding: 10px 0;
            }

            nav .menu {
                max-width: 1250px;

                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
            }

            .menu .logo a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                font-weight: 600;
                padding: 8px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;
            }

            .menu .logo a:hover {
                background: orange;
                color: black;
            }

            .menu ul {
                display: inline-flex;
            }

            .menu ul li {
                list-style: none;
                margin-left: 7px;
            }

            .menu ul li a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: 500;

                padding: 8px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;
            }

            .menu ul li a:hover {
                background: orange;
                color: black;
            }

            #container-box {
                padding: 20px;
            }

            .form-col,
            .topic-col {
                min-width: 16em;
            }

            .last-post-col,
            .created-col,
            .author-col {
                min-width: 12em;
            }

            .post-col {
                min-width: 20em;
            }

            .feather-16 {
                width: 16px;
                height: 16px;
            }

            .feather-24 {
                width: 24px;
                height: 24px;
            }

            .feather-32 {
                width: 32px;
                height: 32px;
            }
        </style>


</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Web Forum</a>
            </div>
            <%- include('../layouts/menu', {ses : session}) %>
        </div>
    </nav>

    <div class="container" id="container-box">
        <div class="row mb-3">

            <div class="form-group col-3">
                <label for="province">Provinsi:</label>
                <select name="province" id="filter-province" class="form-control select2">
                    <option value="">-- SEMUA PROVINSI --</option>
                    <% province_list.forEach(function(item, index) { %>
                        <option value="<%= item.id %>">
                            <%= item.name %>
                        </option>
                        <% }) %>
                </select>
            </div>


            <div class="form-group col-3">
                <label for="city">Kota/Kabupaten:</label>
                <select name="city" id="filter-city" class="form-control select2">
                    <option value="">-- SEMUA KOTA/KABUPATEN --</option>
                </select>
            </div>


            <div class="form-group col-3">
                <label for="province">Budget:</label>
                <input type="number" class="form-control" min="0" id="filter-budget">
            </div>

        </div>
        <% if (msgSuccess !=null && msgSuccess !='' ) { %>
            <div class="alert alert-success" role="alert">
                <%= msgSuccess %>
            </div>
            <% } %>

                <% if (msgError !=null && msgError !='' ) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= msgError %>
                    </div>
                    <% } %>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered" id="table-datatable">
                                    <thead>
                                        <tr>
                                            <th>Lokasi</th>
                                            <th>Provinsi</th>
                                            <th>Kota</th>
                                            <th>Budget Min</th>
                                            <th>Budget Max</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>


    </div>




    <%- include('../layouts/vendor_js') %>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote.min.js"
            integrity="sha512-6rE6Bx6fCBpRXG/FWpQmvguMWDLWMQjPycXMr35Zx/HRD9nwySZswkkLksgyQcvrpYMx0FELLJVBvWFtubZhDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
            integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"
            integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
            </script>

        <script src="https://unpkg.com/feather-icons"></script>
        <script>
            feather.replace()
        </script>

        <script>
            $(document).ready(function () {
                var dataTable = $('#table-datatable').DataTable({
                    processing: true,
                    serverSide: true,
                    serverMethod: 'get',
                    ajax: {
                        url: '/guide/get-data',
                        data: function (d) {
                            d.province = $("#filter-province").val()
                            d.city = $("#filter-city").val()
                            d.budget = $("#filter-budget").val()
                        }
                    },
                    aaSorting: [],
                    columns: [
                        {
                            data: 'location',
                            render: function (data, type, row) {
                                return `<a href="/guide/detail/${row['id']}">${row['location']}</a>`;
                            }
                        },
                        { data: 'province_name' },
                        { data: 'city_name' },
                        { data: 'budget_min' },
                        { data: 'budget_max' }
                    ]
                });


                $('#filter-province').change(function () {
                    var province = $(this).val();

                    $('#filter-city').empty();
                    $('#filter-city').append("<option value=''>-- SEMUA KOTA/KABUPATEN --</option>");

                    if (province) {
                        $.get(`/guide/get-city?province=${province}`, function (data, status) {
                            $('#filter-city').empty();
                            $('#filter-city').append("<option value=''>-- SEMUA KOTA/KABUPATEN --</option>");

                            for (i in data) {
                                $('#filter-city').append(new Option(data[i].name, data[i].id));
                            }
                        });
                    }

                    dataTable.ajax.reload();
                });

                $('#filter-city').change(function () {
                    dataTable.ajax.reload();
                });

                $('#filter-budget').change(function () {
                    dataTable.ajax.reload();
                });

                $('.select2').select2();
            });
        </script>
</body>

</html>