<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Dashboard &mdash; Travel Forum</title>

    <%- include('../layouts/backend/vendor_css') %>

</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            <%- include('../layouts/backend/navbar') %>

                <%- include('../layouts/backend/sidebar') %>

                    <!-- Main Content -->
                    <div class="main-content">
                        <section class="section">
                            <div class="section-header">
                                <h1>Dashboard</h1>
                            </div>

                            <div class="section-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-primary">
                                                <i class="far fa-newspaper"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Total Thread</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= stat.thread_count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-danger">
                                                <i class="far fa-newspaper"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Thread Hari Ini</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= stat.thread_today_count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-warning">
                                                <i class="fas fa-users"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>Total User</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= stat.user_count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="card card-statistic-1">
                                            <div class="card-icon bg-success">
                                                <i class="far fa-user"></i>
                                            </div>
                                            <div class="card-wrap">
                                                <div class="card-header">
                                                    <h4>User Hari Ini</h4>
                                                </div>
                                                <div class="card-body">
                                                    <%= stat.user_today_count %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <%- include('../layouts/backend/footer') %>

        </div>
    </div>

    <%- include('../layouts/backend/vendor_js') %>
</body>

</html>