<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Kategori Thread &mdash; Travel Forum</title>

    <%- include('../../layouts/backend/vendor_css') %>
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            <%- include('../../layouts/backend/navbar') %>

                <%- include('../../layouts/backend/sidebar') %>

                    <!-- Main Content -->
                    <div class="main-content">
                        <section class="section">
                            <div class="section-header">
                                <h1>Edit Kategori Thread</h1>
                            </div>

                            <div class="section-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <form action="/admin/thread-category/update/<%= result.id %>" method="POST">
                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="form-group col-sm-6">
                                                            <label>Judul Kategori</label>
                                                            <input type="text" class="form-control" name="title"
                                                                required value="<%= result.title %>">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="form-group col-sm-6">
                                                            <label>Deskripsi</label>
                                                            <textarea type="text" class="form-control"
                                                                name="description"
                                                                required><%= result.description %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button class="btn btn-primary mr-1" type="submit">Simpan</button>
                                                    <a class="btn btn-danger" href="/admin/thread-category">Kembali</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <%- include('../../layouts/backend/footer') %>

        </div>
    </div>

    <%- include('../../layouts/backend/vendor_js') %>

</body>

</html>